body {
  transform-origin: 50% 300px;
}
body {
  animation-name: roll;
  animation-duration: 4s;
  animation-iteration-count: 1;
}
body {
  margin: 0;
  background: #fff;
  color: #4d5156;
}
body, h1 {
  font-size: small;
}
head, body, head *, body * {
  max-height: 999999px;
}
body {
  display: block;
  transform: rotate(
360deg);
}