.super-mario {
    width: 200px;
    position: absolute;
    z-index: 1;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 370px;
    left:100px;
    z-index: 2;
  }
  
  .baloon {
  position: absolute;
  top: 600px;
  z-index: 3;
  }
  
  .speach {
    font-size: 25px;
    color: brown;
    position: absolute;
    top: 640px;
    left: 28px;
    z-index: 4;

  }
  
  .bowser {
    width: 200px;
    position: absolute;
    top: 730px;
    left: 300px;
    z-index: 5;
  }